.vertical-center-wrap {
  display: table;
}
.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.p-b-1{
	padding-bottom: 1rem;
}
.p-b-2{
	padding-bottom: 2rem;
}
.p-b-3{
	padding-bottom: 3rem;
}