
.bookSection {
    width: 100%;
    display: inline-block;
}
.book{
	&.white, &.grey, &.black{
		color: $black;
		.btn{
			background: $black;
		}
	}
	&.red{
		color: $red;
		.btn{
			background: $red;
		}
	}
	&.orange{
		color: $orange;
		.btn{
			background: $orange;
		}
	}
	&.yellow{
		color: $yellow;
		.btn{
			background: $yellow;
		}
	}
	&.green{
		color: $green;
		.btn{
			background: $green;
		}
	}
	&.blue{
		color: $blue;
		.btn{
			background: $blue;
		}
	}
	&.purple{
		color: $purple;
		.btn{
			background: $purple;
		}
	}
	width: 25%;
	float: left;
	position: relative;
	margin-bottom: 0;
	@include m(min,$sm) {
		width: 20%;
	}
	@include m(min,$md) {
		width: 15%;
	}
	@include m(min,$lg) {
		width: 10%;
	}
	@include m(min,$xl) {
		width: 3.5714285714%;
	}
	.book-thumb{
		display: table;
    	height: 100%;
    	img{
		    margin: 0 auto!important;
		    display: block;
    	}
		.el-icon-remove, .el-icon-pencil{
			@include vanish();
			transition: all $fast;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    vertical-align: middle;
		    line-height: 0;
		    background: rgba($white, 0.75);
		    text-align: center;
		    &:before{
		    	position: relative;
		    	top: 50%;
		    }
		}
	}
	&.left{
		.details{
			right: 0;
		}
	}
	&.right{
		.details{
			left: 0;
		}
	}
	.details{
		@include vanish;
		transition: background $fast, opacity $fast;
		position: fixed;
	    height: 100%;
	    top: 0;
	    bottom: 0;
	    width: 100%;
		z-index: 90;
	    max-width: 450px;
	    @include m(min, $xxl){
	    	max-width: 550px;
	    }
	    background: $white;
	    padding: 30px 15px;
	    overflow: hidden;
    	overflow-y: auto;
	    .el-icon-remove, .el-icon-pencil{	
		    position: absolute;
		    top: 15px;
		    left: 28px;
		    z-index: 99;
		    padding-right: 1em;
	    }
	    .el-icon-pencil{	
		    left: 90px;
	   	 	color: black;
	   	 }
	    img{
	    	width: 100%;
	    }
	    .btn {
		    border-radius: 0;
		    color: $white;
		    text-transform: uppercase;
		    font-size: 15px;
		    letter-spacing: .5em;
		    line-height: 20px;
    		font-family: 'BruceProtoOne', monospace;
		    margin-top: 2em;
		    padding: 10px;
		    outline: none;
		    border: none;
    		color: rgba($white,0.8);
    		&:hover{
    			color: rgba($white,1);
			}
		}
		h4.authors{
			> span{
				&:after{
					content: ",";
					display: inline;
				}

    			&:last-child{
					&:after{
						content: "";
						display: inline;
					}
    			}
    		}
		}
	}
	&.active{
		.book-thumb{
			.el-icon-remove, .el-icon-pencil{
				@include appear;
				transition: all $fast;
			}
		}
		.details{
			@include appear;
	   		// opacity: 0.95;
	   		opacity: 1;
			transition: background $fast, opacity $fast;
		}
	}
	.detailsView{
		@include vanish;
		transition: background $fast, opacity $fast;
		position: fixed;
	    height: 100%;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    background: $white;
	    padding: 30px;
		z-index: 90;
	    overflow: hidden;
    	overflow-x: auto;
    	&::-webkit-scrollbar {
		    height: 0;
		}
    	img{
    		height: 100%;
    		width: auto;
    	}
    	.detailImage{
		    padding-right: 5em;
			display: inline-block;
    		height: 100%;
    		&:last-of-type{
    			padding-right: 0;
    		}
    	}
    	h2{
    		margin-bottom: 1em;
			$size: 24px;
			font-size: $size;
			@include m(min,$sm) {
				font-size: $size*1.25;
			}
			@include m(min,$md) {
				font-size: $size*1.5;
			}
			@include m(min,$lg) {
				font-size: $size*1.75;
			}
			@include m(min,$xl) {
				font-size: $size*2;
			}
    	}
    	.contentContainer{
    		$size: 16px;
			font-size: $size;
			@include m(min,$sm) {
				font-size: $size*1.25;
			}
			@include m(min,$md) {
				font-size: $size*1.4;
			}
			@include m(min,$lg) {
				font-size: $size*1.7;
			}
			@include m(min,$xl) {
				font-size: $size*1.8;
			}
    	}
    	h6{
    		font-weight: 400;
    		$size: 16px;
			font-size: $size;
			@include m(min,$sm) {
				font-size: $size*1.25;
			}
			@include m(min,$md) {
				font-size: $size*1.4;
			}
			@include m(min,$lg) {
				font-size: $size*1.7;
			}
			@include m(min,$xl) {
				font-size: $size*1.8;
			}
    	}
	    .el-icon-remove, .el-icon-pencil{	
		    position: fixed;
		    top: 15px;
		    left: 28px;
		    z-index: 99;
	    }
	    .el-icon-pencil{	
		    left: 75px;
	   	 	color: inherit;
	   	 }
		> .detailsView-container{
		    max-width: initial;
		    width: auto;
		    height: 95%;	  
		    > .row, > .row > .col-xs-12, .col-xs-12 > * {
			    max-width: initial;
			    width: auto;
			    height: 100%;	    	
		    }
		    > .row > .col-xs-12{
		    	width: 9999999999999px;
		    	> *{
		    		display: inline-block;
	    			float: left;
	    			padding-right: 5em;
		    	}
		    }
		    .detailViewText{
		    	height: 100%;
		    	height: calc(100% - 3em);
		    	overflow: hidden;
		    	overflow-y: auto;
    			position: relative;
		    	padding-bottom: 100px;
	    		max-width: 90vw;
	    		width: 90vw;
	    		@include m(min, $xs){
	    			max-width: ($xs - 2em);
	    			width: ($xs - 2em);
	    		}
	    		@include m(min, $sm){
	    			max-width: ($sm - 2em);
	    			width: ($sm - 2em);
	    		}
	    		@include m(min, $md){
	    			max-width: ($md - 2em);
	    			width: ($md - 2em);
	    		}
	    		@include m(min, $lg){
	    			max-width: ($lg - 2em);
	    			width: ($lg - 2em);	    			
	    		}

	    		margin-top: 3em;
	    		h2:first-of-type{
    				margin-top: 0;
	    		}
	    		.detail-repeater > span{
					&:after{
						content: ",\00a0";
						display: inline;
					}

	    			&:last-child{
						&:after{
							content: "";
							display: inline;
						}
	    			}
	    		}
	    		.detail-repeater-dimensions > span{
					&:after{
						content: "\00a0×\00a0";
						display: inline;
					}

	    			&:last-child{
						&:after{
							content: "";
							display: inline;
						}
	    			}
	    		}
		    }
		    .detailViewTextHidder{
			    display: block;
			    height: 100px;
			    position: absolute;
			    bottom: -2px;
			    z-index: 99;
				@include user-select-none();
			    background: linear-gradient(to bottom, rgba($white,0) 5%,rgba($white,1) 100%);
		    }
		}
	}
	&.detailsViewactive{
		.detailsView{
			@include appear;
			transition: background $fast, opacity $fast;
		}
	}
}
.verticle-row{
	width: 3.29%;
	display: inline-block;
	.book{
		width: 100%!important;
	}
}